body {
    color: #383838;
    background: #A6442E;
    font: "Amaranth";
}

.h_title {
    text-align: center;
    width: auto;
}

.title {
    color: #D9A273;
    font-size: 144px;
    margin-bottom: 0px;
}

.home_buttons {
    width: 90%;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.what {
    padding: 10px;
    border-radius: 80px;
    width: 420px; 
    height: 471px;
}

.more {
    padding: 10px;
    border-radius: 80px;
    width: 420px; 
    height: 471px;
}

.muffintime {
    padding: 10px;
    border-radius: 80px;
    width: 420px; 
    height: 471px;
}

@media only screen and (max-width: 900px) {  

    .title {
        font-size: 112px;
    }

    .home_buttons {
        display: flex;
        flex-direction: column;
    }

    .what {
        clear: left;
        
    }
    .more {
        clear: left;
    }
    .muffintime {
        clear: left;
    }
}

@media only screen and (max-width: 600px) {  

    .title {
        font-size: 100px;
    }

    .home_buttons {
        
    }

    .what {
        clear: left;
        float: center;
    }
    .more {
        clear: left;
    }
    .muffintime {
        clear: left;
    }
}


/*
.overlay1 {
    position: relative;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: none;
}

.overlay2 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: none;
}

.overlay3 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: none;
}

.button1:hover .overlay1 {
    opacity: 1;
    display: block;
}

.button2:hover .overlay2 {
    opacity: 1;
    display: block;
}

.button3:hover .overlay3 {
    opacity: 1;
    display: block;
}

.text1 {
    color: #383838;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text2 {
    color: #383838;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text3 {
    color: #383838;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/